@media (min-width: 1300px) {
    .cardHired{
        margin-bottom: 10px !important;
    }

    .cardHiredAlternative{
        margin-bottom: -15px !important;
    }
}

@media (min-width: 1200px) {

    .cardHiredAlternative{
        margin-bottom: 0px !important;
    }
}

@media (min-width: 1100px) {

    .cardHiredAlternative{
        margin-bottom: -15px !important;
    }
    
}

@media (min-width: 992px) {
    
    .cards {
        display: inline-flex !important;
        margin-left: 80px !important;
        margin-right: 80px !important;
    }

    .card {
        margin: 30px !important;
    }

    .cardTitle {
        padding: 0px;
    }

    .cardHired{
        margin-bottom: 25px !important;
        margin-bottom: 15px !important;
    }

    .container-fluid {
        width: auto;
        background: #fff;
        padding: 10px 30px;
        margin-right: 70px !important;
        margin-left: 70px !important;
    }

}

@media (min-width: 800px) {

    header.header {
        width: 30% !important;
        text-align-last: left;
        padding-left: 70px;
        display: inline-flex !important;
    }

    .menu {
        padding-top: 0px !important;
        width: 70% !important;
        display: inline-flex !important;
    }

    .nav { 
        display: inline-flex !important;
        justify-content: flex-end;
    }
}

header.header {
    width: 100%;
    text-align: center;
}

.content {
    padding: 80px 0px;
}

.menu {
    padding-top: 20px;
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
}
  
.nav { 
    display: -webkit-inline-box;
    width: 100%;
}

.col-min {
    padding: 25px;
    margin-right: 50px;
}

.cards {
    background: #fff;
    justify-content: space-around;
    margin-left: 20px !important;
    margin-right: 20px;
    display: grid;
}

.card {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 15px;
    display: block;
}

.card-title{
    font-size: 16px;
    height: 60px;
    text-align: center;
    padding: 0px 10px;
    margin-bottom: 0px;
}

.card-subtitle{
    padding: 0px 0px 25px 0px;
    font-size: 14px;
    border-bottom: 1.5px solid rgb(208, 214, 220);
}

.card-subtitle-bottom{
    margin-bottom: 0px;
    padding-top: 15px;
    color: #6c757d!important;
    font-size: 14px;
}

.badge-pill {
    border-radius: 1px;
    padding: 5px;
}

.avatar {
    width: 30px !important;
    height: 30px !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    border-width: 30px !important;
    border-color: red !important;
    margin-right: 10px !important;
}

.cardBtn{
    -moz-box-shadow:inset 0px 39px 0px -24px #f07808;
	-webkit-box-shadow:inset 0px 39px 0px -24px #f07808;
	box-shadow:inset 0px 39px 0px -24px #f07808;
    background-color:#f07808;
    font-family: 'Montserrat', sans-serif;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    border-radius:1px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f07808;
}

.cardBtn:hover{
    color: white;
    text-decoration: none;
}

.cardHired{
    font-family: 'Montserrat', sans-serif;
    color: #6c757d!important;
    border: 1px solid rgba(0,0,0,.08);
    text-align: left;
    margin: 0px 20px;
    padding: 5px 10px;
    margin-bottom: 30px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.cardBottom {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.cardHiredAlternative{
    padding: 0px 20px;
    padding-bottom: 5px;
    margin-bottom: 19px;
}

.cardHiredName{
    max-height: 15px;
    font-size: 16px;
}

.cardHiredContent{
    font-size: 14px;
}

.row{
    justify-content: center;
}